name: CI Workflow

on:
  push:
    branches:
      - '**'  # Runs on all branches
    tags:
      - '*'   # Runs on tag pushes
  pull_request:
    branches:
      - main
      - develop

jobs:
  static_analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install ruff
        run: pip install ruff==0.11.2

      - name: Lint code with ruff
        run: ruff check {{project_name}}
        continue-on-error: true

  test:
    runs-on: ubuntu-latest
    needs: static_analysis
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          pip install uv
          uv sync

      - name: Run tests with pytest
        run: uv run pytest --cov-report term-missing --cov={{project_name}} -v -p no:faulthandler -W ignore::DeprecationWarning --verbose --doctest-modules --ignore copy_this
        continue-on-error: true

      - name: Upload coverage results
        uses: codecov/codecov-action@v3
        with:
          file: coverage.xml
        if: success()

  generate_docs:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: write  # Grants write access to the repository contents
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          pip install uv
          uv sync

      - name: Build and render documentation with Quarto
        run: |
          uv run python -m ipykernel install --user --name {{project_name}}
          uv run quarto render

      # to set up publish need to manually run:
      # just init-gh-pages
      # and check Read and write permissions box under Workflow permissions in the Actions section of your repository Settings
      # git checkout develop
      # just cd-publish
      # then can uncomment the below

      #- name: Publish 
      #  run: |
      #    git config user.name "github-actions[bot]"
      #    git config user.email "github-actions[bot]@users.noreply.github.com"
      #    uv run quarto publish gh-pages
      #  env: 
      #    GITHUB_TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
      #    # check Read and write permissions box under Workflow permissions in the Actions section of your repository Settings.

