[build-system]
requires = [ "hatchling",]
build-backend = "hatchling.build"

[project]
name = "{{project_name}}"
version = "0.1.0"
description = "{{project_short_description}}"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dynaconf>=3.2.10",
    "ipykernel>=6.29.5",
    "loguru>=0.7.3",
    "pytest>=8.3.5",
    "pytest-cov>=6.0.0",
    "ruff>=0.11.2",
    "nbclient>=0.10.2",
    "nbformat>=5.10.4",
    "quartodoc>=0.9.1",
    "toml>=0.10.2",
    "typer>=0.15.2",
    "autopep8>=2.3.2",
    "commitizen>=4.4.1",
     "dvc>=3.59.1",

]

[[project.authors]]
name = "{{full_name}}"
email = "{{email}}"

[dependency-groups]
lint = [ "ruff",]
test = [ "pytest", "pytest-cov", "dynaconf", "typer", "requests", "loguru", "toml",]
dev = [ "ipykernel", "nbclient", "nbformat", "ruff", "autopep8", "commitizen", "dvc", "pytest", "pytest-cov", "quartodoc", "toml", "typer",]

[tool.uv]
default-groups = "all"

[tool.ruff]
src = [ "src/{{project_name}}", "tests", "conf",]
line-length = 120
exclude = [ ".git", ".ruff_cache", ".venv", "__pypackages__", "__init__.py",]

[tool.autopep8]
max_line_length = 120

[tool.ruff.lint]
select = [ "ALL",]
ignore = [ ]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.flake8-quotes]
inline-quotes = "single"

[tool.hatch.build.targets.wheel]
packages = ["src/{{project_name}}", "conf"]

