---
title: "Repository for..."
format: 
    html:
        number-sections: true
        html-table-processing: none
jupyter: {{project_name}} # uv run python -m ipykernel install --user --name {{project_name}}
echo: false
execute:
  freeze: auto  # re-render only when source changes
---

# Executive Summary

This document summarises the {{project_name}} ...

{{project_short_description}}

## Key info

-   Repository name: {{project_name}}
-   Author: {{full_name}}
-   Repository location: {{remote_repository}}

